<h1 class="page-header">Dashboard</h1>

<div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
        <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
        <h4>Label</h4>
        <span class="text-muted">Something else</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
        <h4>Label</h4>
        <span class="text-muted">Something else</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
        <h4>Label</h4>
        <span class="text-muted">Something else</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
        <h4>Label</h4>
        <span class="text-muted">Something else</span>
    </div>
</div>

<!--PA Table-->
<h2 class="sub-header">PA Table</h2>
<div class="table-responsive">
    <table class="table table-striped">

        <thead>
        <tr>
            <th>PA</th>
            <th>Source</th>
            <th>Client</th>
            <th>Note</th>
            <th>Last update</th>
            <th>initial</th>
        </tr>
        </thead>

        <tbody>
        {{#each results}}
            <tr>
                <td>{{this.pa}}</td>
                <td>{{this.source}}</td>
                <td>{{this.client}}</td>
                <td>{{this.note}}</td>
                <td>{{this.update}}</td>
                <td>{{this.initial}}</td>
                <td><a href="#" class="btn btn-default">edit</a>
                    <a href="#" class="btn btn-danger">clear</a> </td>
            </tr>
        {{/each}}
        </tbody>

    </table>
</div>


