<div class="row">
    <div class="col-sm-8">
                                                       <!-- app.post('/newpost/posttomongo -->
    <form class="form" role="form" method="POST" action="/newpostform/posttomongo">



        <div class="form-group">
            <label for="pa">PA: </label>
            <input type="number" class="form-control" id="pa" placeholder="PA ..."
                   name="pa"
                   value="{{newpost.pa}}"
            >
        </div>

        <div class="form-group">
            <label for="source">Source: </label>
            <input type="text" class="form-control" id="source" placeholder="Source ..."
                   name="source"
                   value="{{newpost.source}}"
            >
        </div>

        <div class="form-group">
            <label for="update">Update: </label>
            <input type="text" class="form-control" id="update" placeholder="Update ..."
                   name="update"
                   value="{{timenow}}"
            >
        </div>

        <div class="form-group">
            <label for="client">Client: </label>
            <input type="text" class="form-control" id="client" placeholder="Client ..."
                   name="client"
                   value="{{newpost.client}}"
            >
        </div>

        <div class="form-group">
            <label for="note">Note: </label>
            <input type="text" class="form-control" id="note" placeholder="Note ..."
                   name="note"
                   value="{{newpost.note}}"
            >
            <!--<textarea class="form-control" id="note" placeholder="Note ..."></textarea>-->
        </div>

        <div class="form-group">
            <label for="initial">Initial: </label>
            <input type="text" class="form-control" id="initial" placeholder="Initial ..."
                   name="initial"
                   value="{{newpost.initial}}"
            >
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
        <a href="http://opsvm3.turner.com:3000">Cancel</a>

    </form>

    </div>

</div>